*
{

    color: #2d2d2d;
    
}

.page-header
{
    margin-top: 1rem;
    text-align: center;
    background-color: white;
}

.corpo
{
    background: #23527c;
    padding-bottom: 2rem;
}

.apresentacao
{
    font-size: 1.8em;
}

.container
{
    background-color: white;
    border: 1px solid #2d2d2d;
    padding: 1rem;
    width: 60%;
}

@media (max-width: 600px)
{
    .container
    {
        width: 80%;
    }
}

.btn
{
    border-radius: 0;
    border: 1px #2b542c;
    font-size: 1.2em;
}